@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.info{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    background-size: cover;
}
  .icon{
    width: 50px;
  }

.infoTitle {
    font-size: 40px;
    font-family: 'Kanit';
    font-weight: 900;
    color: #A94B08;
    align-items: center;
    width: fit-content;
  }

  .Form {
    margin-top: 20px;
    display: block;
    flex-direction: column;
  }

  .head {
    font-size: 24px;
    font-family: 'Kanit';
    color: blueviolet;
    font-weight: bold;
  }

  .body{
    font-size: 20px;
    font-family: 'Kanit';
  }
  
  .left{

    width: 45%;
    float: left;
  }

  .right{

    width: 45%;
    float: left;
  }

  .titledivider{
    height: 50px;
  }


  .container_info{
    position: relative;
    /* background-color: orangered; */
    border-radius: 15px;
    /* padding: 73px; */
    margin-top: 10px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;

  }

  .title{
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    color: beige;
    /* letter-spacing: 1.5px; */
  }

  .aboutcontent{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* .aboutImage{
    width: 50%;
    color:var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;

  } */

 
  .aboutItems{
    width: 50%;
    color:var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .aboutcontactItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;

    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
    
  }

  .aboutItemText{
    padding-left: 20px;
  }

  .aboutcontactItem:hover{
    background-size: 100% 100%;
  }


  .face{
    color:#0026ff;
    font-family: 'Kanit';
    font-size: 30px;
    font-weight: 1200;
  }

  .ig{
    color:#f10098;
    font-family: 'Kanit';
    font-size: 30px;
    font-weight: 1200;
  }

  .line{
    color:#00a90b;
    font-family: 'Kanit';
    font-size: 30px;
    font-weight: 1200;
  }

  .git{
    color:#000000;
    font-family: 'Kanit';
    font-size: 30px;
    font-weight: 1200;
  }

  .gmail{
    color:#ff0000;
    font-family: 'Kanit';
    font-size: 30px;
    font-weight: 1200;
  }

  .other{
    color:#ff3c00;
    font-family: 'Kanit';
    font-size: 30px;
    font-weight: 1200;
  }


  .aboutcontactItem p {
    font-family: 'Kanit';
    font-size: 18px;
  }

  @media screen and (max-width: 1230px){
    .container_info{
      background-color: transparent;
      padding-left: 0%;
      padding-right: 0%;
      align-items: start;
    }
    .aboutcontent{
      flex-direction: column;
    }

    .aboutItems{
      margin-top:29px;
      width: 80%;
    }

    .aboutItem{
      padding-left: 0;
      padding-right: 0;
    }
}