@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.bg{
    
    background-color: #A94B08;
}

.bggradient{
    /* padding-top: 5%; */
    background-image: linear-gradient(#A94B08,#F6F5EC);
    height: 200px;
}

.outside{
    /* padding-top: 5%; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
     
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* color: var(--color-text); */
    z-index: 1;
    /* background-color: #A94B08; */

}

.title1{
    color:#F6F5EC;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 0px;
    font-family: 'Kanit';
    background-color: linear-gradient(to right, rgb(255, 255, 255) , rgb(49, 49, 49));
    /* -webkit-text-fill-color: transparent; */
    /* -webkit-background-clip: text; */
}
.title2{
    color:#F6F5EC;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0px;
    font-family: 'Kanit';
    background-color: linear-gradient(to right, rgb(255, 255, 255) , rgb(49, 49, 49));
    /* -webkit-text-fill-color: transparent; */
    /* -webkit-background-clip: text; */
}

.description {
    color:#F6F5EC;
    font-size: 20px;
    font-family: 'Kanit';
    margin-bottom: 30px;
}

.contactBtn {
    text-decoration: none;
    font-family: 'Kanit';
    background-color: #f78c40;
    color:white;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 400;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}


.heroimg {
    padding-left: 10%;
    padding-right: 10%;
    width: 30%;
    z-index: 1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 50%;

} 



@keyframes floating {
    0% {
        transform: translate(0,0px);
    }
    50% {
        transform: translate(0,10px);
    }
    100% {
        transform: translate(0,-10px);
    }
}

.topBlur{
    position: absolute;
    width: 40vw;
    height: 20vw;
    min-width: 350px;
    padding-top: 30px;
    left: 20vw;
    border: 764px;
    background-color: #462004;
    filter: blur(100px);
}

@media screen and (max-width: 900px){
    .outside{
        flex-direction: column-reverse;
    }
    .content{
        align-items: center;
    }
}